<header class="site-header" role="banner">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
.justify {text-align: justify;}
.center {text-align: center;}

section {padding: 2rem;}
.bg-grey {
   background-color: #dcdcdc;
}

</style>
<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script type="text/javascript" nonce="d1ND9CiVHITgO07CRDaM">
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#000"
    },
    "button": {
      "background": "#14a7d0"
    }
  },
  "theme": "classic",
  "position": "bottom-right",
  "content": {
    "dismiss": "OK",
    "href": "http://www.netscylla.com/privacy.html"
  }
})});
</script>
<!-- End Cookie Consent plugin -->

<body>
<!-- NAVBAR
================================================== -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a itemprop="url" class="navbar-brand" rel="home" href="https://www.netscylla.com" title="Netscylla"> <img style="max-width:100px; margin-top: 
-7px;"src="http://www.netscylla.com/pics/logo_sm.png" alt="small logo"></a>
  <a class="navbar-brand" href="/">Netscylla</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="http://www.netscylla.com/about.html">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://www.netscylla.com/contact.html">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://www.netscylla.com/whitepapers.html">Whitepapers</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" 
aria-expanded="false">
          Services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="http://www.netscylla.com/services/attack.html">Attack</a>
          <a class="dropdown-item" href="http://www.netscylla.com/services/respond.html">Respond</a>
          <a class="dropdown-item" href="http://www.netscylla.com/consultancy/protect.html">Protect</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="http://www.netscylla.com/blog/index.html">Blog</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <ul class="nav navbar-nav flex-row">
       <li><a class="text-light" href="mailto:enquiry@netscylla.com">enquiry@netscylla.com&nbsp;<img src="http://www.netscylla.com/pics/email.png" style="max-width:30px;
margin-top:-0px;" alt="email"/></a></li>&nbsp;
       </ul></form>
    <form class="form-inline my-2 my-lg-0">
       <ul class="nav navbar-nav flex-row">
       <li><a href="https://www.linkedin.com/company/netscylla-cyber-security-ltd"><img src="http://www.netscylla.com/pics/linkedin.png" style="max-width:30px; margin-top:-0px;" alt="linkedin"></a>&nbsp;
       <li><a href="http://www.twitter.com/netscylla"><img src="http://www.netscylla.com/pics/twit.png" style="max-width:30px; margin-top: -0px;" alt="twitter"></a>&nbsp;
       <li><a href="http://www.github.com/netscylla"><img src="http://www.netscylla.com/pics/git.png" style="max-width:30px; margin-top: -0px;" alt="github"></a>&nbsp;
       <li><a href="http://www.facebook.com/Netscylla"><img src="http://www.netscylla.com/pics/Facebook.png" style="max-width:30px; margin-top: -0px;" alt="facebook"></a>&nbsp;
      </ul>
    </form>

  </div>
</nav>
</body>
</header>
